
<div id="thing_<%= illuminant.id %>" class="tile col-md-2 col-sm-4 col-xs-10">
  <div class="dummy"></div>
      <div class="thumbnail">
          <div class="widget-title handle">
          <h4><%= illuminant.zone.name %></h4>

          </div>
          <div class="temp illuminant_<%= illuminant.uid %>">
           
          </div>
           <h5><%= illuminant.label %></h5>
      </div>
</div>