
<%= content_tag_for :div, motion, :class=> "tile col-lg-2 col-md-3 col-sm-6 col-xs-6 zone_"+motion.zone_id.to_s+" item" do %>

    <div class="dummy"></div>
        <div class="thumbnail">
            <div class="widget-title handle">
            <% if @location && @zone %>
              <% if current_page?(location_zone_path(@location, @zone)) %>
                <h4>Motion</h4>
              <% end %>
            <% else %>
                <h4 class="hidden-xs"><%= link_to motion.zone.name, location_zone_path(motion.zone.location, motion.zone) %></h4>
            <% end %>

            </div>
            <div class="motion_<%= motion.uid %>">
            
            </div>
             <h5><%= motion.label %></h5>
        </div>

<% end %>