		<div class="page-header">
			<div class="row">
				<!-- Page header, center on small screens -->
				<div class="col-md-3">
					<h1>
						<%= yield :page_header %>
					</h1>
				</div>

				
				
				

			    <!-- Search field -->
				<div class="col-md-7">
					<%= yield :page_search %>
				</div>

				<!-- Search field -->
				<div class="col-md-2">
					<%= yield :page_actions %>
				</div>
		
			</div>
		</div>