(function ($) {

  <% unless Rails.env.production? %>
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };
  <% end %>

  var pusher = new Pusher('7ddaaf6e79278cefaa57');
  var channel = pusher.subscribe('chat');
  pusher.connection.bind('connected', function () {
  var socket_id = pusher.connection.socket_id;

    $('#chat_message_socket_id').val(socket_id);
  });

  channel.bind('new_message', function (data) {
    // Code smell - Duplicated view
    // It's exactly app/views/chat_messages/_chat_message.html
    if (data.user_id == user_string) {
      $('.chat-messages').append('<div class="message right"><img src="'
                      +data.avatar+
        '"alt="" class="message-avatar"><div class="message-body"><div class="message-heading">'
                      + 
                      ' I said ' 
                      + '<div class="message-text">'
                      + data.message +
                      ' </div></div></div>');
      var divHeight = $("#chat-messages").children().length;
    $('#chat-messages').slimScroll({ scrollTo: divHeight * 75});
   
    }else {
      $('.chat-messages').append('<div class="message"><img src="'
                      +data.avatar+
        '"alt="" class="message-avatar"><div class="message-body"><div class="message-heading">'
                      + data.first_name + 
                      ' says ' 
                      + '<div class="message-text">'
                      + data.message +
                      ' </div></div></div>');
    var divHeight = $("#chat-messages").children().length;
    $('#chat-messages').slimScroll({ scrollTo: divHeight * 75});
    }
    
  });
}(jQuery));